@charset "utf-8";



  button{cursor: pointer; user-select: none; background: transparent;}

  
  .mainCont{
    main{ position: sticky; top: 0;
      .pos{width: 100%; min-width: 1024px; height: 100vh; position: sticky; }
      .main_bg{width: 100%; height: 100%; position: absolute; left: 0; top: 0;
        background: url('../images/main_bg_light.png'), url('../images/main_bg_pattern.jpg'); background-position: center; background-repeat: no-repeat;
      }
      .myname{
        font-family: 'Poppins' !important; font-weight: 700; font-size: 120px; letter-spacing: -5.4px; color: #fff; 
        position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); line-height: 120px; white-space: nowrap;
      }
    }
    section{display: flex; position: relative;
      &.about{ 
        &>div{height: 100vh; padding: 4rem;
          &.about_left{ width: 400px; background: #232323;
            h3{font-size: 5rem; font-weight: 900; color: #f1f2f5;}
          }
          &.about_right{
            width: calc(100% - 400px); background: url('../images/about_bg_noise.jpg'); background-position: center; background-repeat: no-repeat;
            h3{font-size: 3rem; font-weight: 900; padding-bottom: 8rem;}
            .qnaList{display: flex; flex-flow: column; gap: 7.2rem 0;
              .qna{ display: flex; flex-flow: column; gap: 2rem 0;
                .qna_question{font-size: 2.5rem; font-weight: 700; color: #232323;}
                .qna_answer{font-size: 1.6rem; font-weight: 400; color: #232323; line-height: 2.4rem;
                  strong{font-size: 105%; font-weight: 700; text-decoration: underline; text-decoration-thickness: 1px;}
                }
              }
            }
          }
        }
      }
      &.work{ padding: 4rem; background: #232323; gap: 0 4rem;
        .work_nav{height: 100vh; position: sticky; top: 0; display: flex; flex-direction: column; gap: 1rem 0;
          button{ font-size: 6rem; font-weight: 900; color: #373737; line-height: 1; text-align: left; 
            .on{color: #f1f2f5;}
          }
        
        }
        .listTest{ width: 100%; height: auto; padding-top: 10rem; padding-bottom: 10rem;
          .work_category{width: fit-content; display: flex; gap: 0 1rem; padding: 1rem 0.5rem; background: #373737; border-radius: 9999px;
            button{font-size: 1.6rem; color: #f1f2f5; height: 4rem; padding: 0 2rem; border-radius: 9999px;
              &:hover{color: #f1f2f5; background: #4e4e4e;}
              &.on{color: #000; background: #f1f2f5;}
            }
          }
          ul{display: flex; flex-wrap: wrap; gap: 1.6rem; width: 100%; height: fit-content;
            li{width: calc((100% - 32px) / 3); height: 40rem; border-radius: 0.5rem; 
              background: #fff; cursor: pointer;}
          }
        }
      }
      &.fff{height: 1000px; background: #fff;}
    }
  }
  
  

  @media screen and (max-width: 1024px){
    
  }