@charset "utf-8";



  button{cursor: pointer; user-select: none; background: transparent;}

  
  .mainCont{
    main{ width: 100%; min-width: 1024px; min-height: 100vh; background: #010101 url('../images/main_bg_x4.png') right no-repeat; background-size: cover; position: relative;
      .myname{
        font-family: 'Poppins' !important; font-weight: 700; font-size: 180px; letter-spacing: -5.4px; color: #fff; 
        position: absolute; right: 90px; bottom: -3px; line-height: 134px;
      }
      
      
    }
    section{display: flex; justify-content: center; padding: 0 10rem;
      &.listTest{ width: 100%; height: 1000px; padding-top: 10rem; padding-bottom: 10rem;
        ul{display: flex; flex-wrap: wrap; gap: 10px; width: 100%; height: fit-content;
          li{width: calc((100% - 20px) / 3); height: 100px; background: #fff; cursor: pointer;}
        }
      }
    }
  }
  
  

  @media screen and (max-width: 1024px){
    
  }